@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

$font-family: 'Roboto Mono', monospace;
$placeholder-text: "input city name...";

@mixin basicFont {
    font-family: $font-family;
    font-weight: 300;
}

.carousel {
    .imageBox {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 150px;
        margin-right: 2%;
        margin-left: 2%;
        justify-content: space-between;
        .slides {
            overflow: hidden;
            display: flex;
            position: absolute;
            height: 100%;
            width: calc(100% - 10vw);
            left: 5vw; 
            right: 5vw; 
            .slide {
                width: 100%;
                display: flex;
                flex: 1;
                margin-right: 0.2vw;
                transition: 200ms opacity ease-in-out;
                transition-delay: 200ms;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5%;
                    &:hover {
                        cursor: pointer;
                        opacity: 75%;
                    }
                }
            }
            .slide.active {
                opacity: 50%;
            }
        }
        .prevBtn,
        .nextBtn {
            display: flex;
            width: 5vw;
            &:hover {
                color:aqua;
            }
        }
        .nextBtn {
            right: 0px;
        }
    }
    
    .numberKeys {
        display: flex;
        position: relative;
    }
}

