.imageBox {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 150px;
    margin-right: 2%;
    margin-left: 2%;
    justify-content: space-between;
    .slides {
        overflow: hidden;
        display: flex;
        position: absolute;
        height: 100%;
        width: calc(100% - 10vw);
        left: 5vw; 
        right: 5vw; 
        .slide {
            width: 100%;
            display: flex;
            flex: 1;
            margin-right: 0.2vw;
            transition: 200ms opacity ease-in-out;
            transition-delay: 200ms;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 5%;
                &:hover {
                    cursor: pointer;
                    opacity: 75%;
                }
            }
        }
        .slide.active {
            opacity: 50%;
        }
    }
    .prev-btn,
    .next-btn {
        display: flex;
        position: absolute;
        background: transparent;
        color: #ffffff;
        opacity: 75%;
        cursor: pointer;
        font-size: 4rem;
        height: 150px;
        width: 5vw;
        border: 0px;
        outline: 0px;
        &:active {
            background-color: #ffffff;
        }
    }
    .next-btn {
        right: 0px;
    }
}