@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

$font-family: 'Roboto Mono', monospace;
$placeholder-text: "input city name...";

@mixin basicFont {
    font-family: $font-family;
    font-weight: 300;
}

form {
    display: flex;
    justify-content:center;
}

.searchingBox {
    @include basicFont;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
    margin: 20vh 2vw 20vh auto;
    input[type="text"] {
      @include basicFont;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      width: 100%;
      margin: 0; 
    }
  
    .searchHistory {
      @include basicFont;
      padding-left: 0;
      background-color: white;
      border: 1px solid #ccc;
      width: 100%;
      max-height: 150px;
      overflow: auto;
      li {
        cursor: pointer;
        list-style-type: none;
        &:hover {
          background-color: #eee;
        }
      }
    }
}
  
  button {
    @include basicFont;
    margin: 20vh auto 20vh 0;
    opacity: 75%;
    height: 30px;
    background-color: #c1c1c1;
    border: 1px solid #575757;
    color: #080202;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    &:hover {
      font-weight: 500;
      opacity: 1;
    }
}
  