html {
    background: url(1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1000ms opacity ease-in-out;
    transition-delay: 1000ms;
}